<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"><![endif]-->
	<meta name="description" content="">
	<meta name="author" content="iglyphic">
	<link rel="shortcut icon" href="src/assets/images/favicon.png">
	<title> SVU College of CM & CS</title>
	<link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
	<!-- Mobile Specific Meta
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="/src/assets/css/style.css">
	<link rel="stylesheet" href="/src/assets/css/responsive.css">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->


</head>

<body>


	<div class="boxed_wrapper">


		<!-- Start header top -->
		<header class="main-header">
			<div class="header-top">
				<div class="container">
					<!--Top Left-->
					<div class="top-left pull-left">
						<ul class="links-nav clearfix">
							<li><a href="#"></a></li>
						</ul>
					</div>

					<!--Top Right-->
					<div class="top-right pull-right">
						<ul class="links-nav clearfix">
							<li><a routerLink="students">Students</a></li>
							<li><a routerLink="events">Events</a></li>
							<li><a routerLink="alumni">Alumni</a></li>
							<li><a routerLink="contactus">Contact Us</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="header-upper">
				<div class="container">
					<div class="clearfix">

						<div class="pull-left logo-outer">
							<div class="logo">
								<a routerLink="/home"><img src="/src/assets/images/logo/logo.png" height="40%" width="20%" alt=""
										title="SVU"></a>
								<h1 style="margin-top: -90px;margin-left: 200px;">Sri Venkateswara University College of Commerce management & Computer Science</h1>
								<h3 style="margin-top: 20px;margin-left: 550px;">Tirupati</h3>

							</div>
						</div>

						<div class=" clearfix">

						</div>

					</div>
				</div>
			</div>
		</header>
		<!-- End header top -->

		<!-- Start nav menu -->
		<section class="mainmenu-wrapper stricky">
			<div class="container">
				<nav class="mainmenu-holder pull-left">
					<div class="nav-header">
						<ul class="navigation">
							<li><a routerLink="/home">Home</a></li>
							<li class="dropdown">
								<a routerLink="#">About Us</a>
								<ul class="submenu">

									<li><a routerLink="/college">The College</a></li>
									<li><a routerLink="/principal">From Principal's Desk</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#">Departments</a>
								<ul class="submenu" style="width:300px">
									<li><a routerLink="/mca">Master of Computer Applications</a></li>
									<li ><a routerLink="/mba">Master of Business Administration</a></li>
									<li><a routerLink="/msc">Master of Science</a></li>
									<li><a routerLink="/mcom">Master of Commerce</a></li>
								</ul>
							</li>
							<li><a  routerLink="research">Research</a></li>
							<li><a routerLink="facilities">Facilities</a></li>
							<li class="dropdown">
								<a href="#">Placements</a>
								<!-- <ul class="submenu">
									<li><a href="placements/index.html">Overview</a></li>
									<li><a href="placements/companies-visited.html">Companies Visited</a></li>
									<li><a href="placements/Placements-2019-20.html">Placements</a></li>
									<li><a href="placements/current-placements.html">Current Placements</a></li>

								</ul>
							</li> -->
							<li class="dropdown">
								<a routerLink="#">Exams</a>
								<!-- <ul class="submenu">
									<li><a href="exams/ayllabus-regulations.html">Syllabus &amp; Regulations</a></li>
									<li><a href="exams/academic-calendar.html">Academic Calendar</a></li>
									<li><a href="exams/results.html">Results</a></li>
									<li><a href="exams/exam-schedule.html">Exam Schedule (Final Exams)</a></li>
									<li><a href="exams/exams-schedule1.html">Exam Schedule (Quiz & Mid Exams)</a></li>
									<li><a href="exams/previous-exam-papers.html">Previous Exam Papers</a></li>

								</ul> -->
							</li>
							<li><a routerLink="curricular">Co-Curricular</a></li>

						</ul>
					</div>
					<div class="nav-footer hidden-lg">
						<ul>
							<li><button class="menu-expander"><i class="fa fa-list-ul"></i></button></li>
						</ul>
					</div>
				</nav>
				<div class="get-appt pull-right">
					<a routerLink="/login" class="appt-btn theme-btn">Login</a>
				</div>

			</div>
		</section>
		<!-- End nav menu -->

		<div class="inner-banner has-base-color-overlay text-center"
			style="background-image: url('src/assets/images/mcom.jpeg');">
			<div class="container">
				<div class="box">
					<h3 style="color: black;">MASTER OF COMMERCE</h3>
				</div>
				<!-- /.box -->
			</div>
			<!-- /.container -->
		</div>

		<div class="breadcumb-wrapper">
			<div class="container">
				<div class="pull-left">
					<ul class="list-inline link-list">
						<li>
							<a href="#"><i class="fa fa-home"></i>Home</a>
						</li>
						<!-- comment for inline hack
            -->
						<li>
							<a href="#">Departments</a>
						</li>
					</ul>
					<!-- /.list-line -->
				</div>
				<!-- /.pull-left -->
			</div>
			<!-- /.container -->
		</div>


		<section class="news-content section-padding single-service-page our-features in-wrapper no-container">
			<div class="container">
				<div class="row">
					<div class="col-md-3">

						<div class="single-sidebar-box service-link-widget">
							<ul class="catergori-list">
								<li><a href="courses-offered.html">Courses Offered</a></li>
								<li><a href="mca.html">MCA</a></li>
								<li><a href="mba.html">MBA</a></li>
								<li><a href="mcom.html">MCOM</a></li>
								<li><a href="msc.html">MSC</a></li>
							</ul>
							<br>
							<br>

							<div class="brochures">
								<h5 class="uppercase">Our Brochures</h5>
								<br>
								<ul class="brochures-lists">
									<li class="active">
										<a href="#">
											<span>PDF</span>Our Brouchure.pdf<i class="fa fa-download"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<span>PDF</span>College Calendar<i class="fa fa-download"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="section-title inner">
							<h2>MASTER OF COMMERCE</h2>
							<span class="decor"></span>
						</div>

						<div class="accordions-box style-2">
							<div class="accrodion-grp" data-grp-name="faq-accrodion">
								<div class="accrodion active">
									<div class="accrodion-title">
										<h4 href="#student">About Department </h4>
									</div>
									<div class="accrodion-content">
										<p>The MCOM Department was established in the year 1999 with an intake of 60
											students and this was increased to 90 students in the 2007 and increased to
											120 students in the 2012. The department has an eminent faculty and well
											supported infrastructure and laboratories. The faculty keeps abreast with
											the latest advances in technology and ensures that hardware equipment and
											related software are upgraded to ensure its students are able to keep pace
											with current trends in technology and the industry.
										</p>
									</div>
								</div>
								<div class="accrodion">
									<div class="accrodion-title">
										<h4>Vision &amp; Mission</h4>
									</div>
									<div class="accrodion-content">
										<h3 id="student">Vision:</h3>
										<p> To help in making the institute in providing competitive engineering
											education to the learner and bring out quality professionals in the field of
											MASTER OF COMMERCE, who can meet the industrial needs by taking
											up existing, new engineering and social challenges.</p>
										<h3> Mission:</h3>
										<p> To provide quality and effective training program in the domain of MASTER OF
											COMPUTER APPLICATIONS through curriculum, state of art laboratories,
											industrial collaborative programs, effective learning and teaching process.
										</p>
									</div>
								</div>
								<div class="accrodion" routerLink="/mcomstudents">
                  <div class="accrodion-title">
										<h4>MCOM A & F Students  </h4>
									</div>
                </div><div class="accrodion" routerLink="/mcomr">
					<div class="accrodion-title">
										  <h4>MCOM Regular Students  </h4>
									  </div>
				  </div>
				  <div class="accrodion" routerLink="/mcomfm">
					<div class="accrodion-title">
										  <h4>MCOM FM Students  </h4>
									  </div>
				  </div>

<!--     
		</section> -->

	<!-- Footer top -->
