<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"><![endif]-->
	<meta name="description" content="">
	<meta name="author" content="iglyphic">
	<link rel="shortcut icon" href="src/assets/images/favicon.png">
	<title> SVU College of CM & CS</title>
	<link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
	<!-- Mobile Specific Meta
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="/src/assets/css/style.css">
	<link rel="stylesheet" href="/src/assets/css/responsive.css">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->


</head>

<body>


	<div class="boxed_wrapper">


		<!-- Start header top -->
		<header class="main-header">
			<div class="header-top">
				<div class="container">
					<!--Top Left-->
					<div class="top-left pull-left">
						<ul class="links-nav clearfix">
							<li><a href="#"></a></li>
						</ul>
					</div>

					<!--Top Right-->
					<div class="top-right pull-right">
						<ul class="links-nav clearfix">
							<li><a routerLink="students">Students</a></li>
							<li><a routerLink="events">Events</a></li>
							<li><a routerLink="alumni">Alumni</a></li>
							<li><a routerLink="contactus">Contact Us</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="header-upper">
				<div class="container">
					<div class="clearfix">

						<div class="pull-left logo-outer">
							<div class="logo">
								<a routerLink="/home"><img src="/src/assets/images/logo/logo.png" height="40%" width="20%" alt=""
										title="SVU"></a>
								<h1 style="margin-top: -90px;margin-left: 200px;">Sri Venkateswara University College of Commerce management & Computer Science</h1>
								<h3 style="margin-top: 20px;margin-left: 550px;">Tirupati</h3>

							</div>
						</div>

						<div class=" clearfix">

						</div>

					</div>
				</div>
			</div>
		</header>
		<!-- End header top -->

		<!-- Start nav menu -->
		<section class="mainmenu-wrapper stricky">
			<div class="container">
				<nav class="mainmenu-holder pull-left">
					<div class="nav-header">
						<ul class="navigation">
							<li><a routerLink="/home">Home</a></li>
							<li class="dropdown">
								<a routerLink="#">About Us</a>
								<ul class="submenu">

									<li><a routerLink="/college">The College</a></li>
									<li><a routerLink="/prinicipal">From Principal's Desk</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#">Departments</a>
								<ul class="submenu" style="width:300px">
									<li><a routerLink="/mca">Master of Computer Applications</a></li>
									<li ><a routerLink="/mba">Master of Business Administration</a></li>
									<li><a routerLink="/msc">Master of Science</a></li>
									<li><a routerLink="/mcom">Master of Commerce</a></li>
								</ul>
							</li>
							<li><a  routerLink="research">Research</a></li>
							<li><a routerLink="facilities">Facilities</a></li>
							<li class="dropdown">
								<a href="#">Placements</a>
								<!-- <ul class="submenu">
									<li><a href="placements/index.html">Overview</a></li>
									<li><a href="placements/companies-visited.html">Companies Visited</a></li>
									<li><a href="placements/Placements-2019-20.html">Placements</a></li>
									<li><a href="placements/current-placements.html">Current Placements</a></li>

								</ul>
							</li> -->
							<li class="dropdown">
								<a routerLink="#">Exams</a>
								<!-- <ul class="submenu">
									<li><a href="exams/ayllabus-regulations.html">Syllabus &amp; Regulations</a></li>
									<li><a href="exams/academic-calendar.html">Academic Calendar</a></li>
									<li><a href="exams/results.html">Results</a></li>
									<li><a href="exams/exam-schedule.html">Exam Schedule (Final Exams)</a></li>
									<li><a href="exams/exams-schedule1.html">Exam Schedule (Quiz & Mid Exams)</a></li>
									<li><a href="exams/previous-exam-papers.html">Previous Exam Papers</a></li>

								</ul> -->
							</li>
							<li><a routerLink="curricular">Co-Curricular</a></li>

						</ul>
					</div>
					<div class="nav-footer hidden-lg">
						<ul>
							<li><button class="menu-expander"><i class="fa fa-list-ul"></i></button></li>
						</ul>
					</div>
				</nav>
				<div class="get-appt pull-right">
					<a routerLink="/login" class="appt-btn theme-btn">Login</a>
				</div>

			</div>
		</section>
		<!-- End nav menu -->

		
		<div class="breadcumb-wrapper">
			<div class="container">
				<div class="pull-left">
					<ul class="list-inline link-list">
						<li>
							<a href="#"><i class="fa fa-home"></i>Home</a>
						</li>
						<!-- comment for inline hack
            -->
						<li>
							<a href="#">College</a>
						</li>
					</ul>
					<!-- /.list-line -->
				</div>
				<!-- /.pull-left -->
			</div>
			<!-- /.container -->
		</div>


		<section class="news-content section-padding single-service-page our-features in-wrapper no-container">
			<div class="container">
				<div class="row">
					<div class="col-md-3">

						<div class="single-sidebar-box service-link-widget">
							<ul class="catergori-list">
								<li><a href="courses-offered.html">Courses Offered</a></li>
								<li><a href="mca.html">MCA</a></li>
								<li><a href="mba.html">MBA</a></li>
								<li><a href="mcom.html">MCOM</a></li>
								<li><a href="msc.html">MSC</a></li>
							</ul>
							<br>
							<br>

							<div class="brochures">
								<h5 class="uppercase">Our Brochures</h5>
								<br>
								<ul class="brochures-lists">
									<li class="active">
										<a href="#">
											<span>PDF</span>Our Brouchure.pdf<i class="fa fa-download"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<span>PDF</span>College Calendar<i class="fa fa-download"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
          <div class="col-md-9">
				 
				
            <p><span class="red">Sri Venkateswara University College of CM & CS </span> under theLeadership of <span class="red"><b>Sri M. Sreenovasulu Reddy garu & M. Padmavatamma garu</b></span> as Principal and vice-Prinicipal is greatly moving towards success. Within a short span of its establishment,the group has made a remarkable stride inthe field of education offering variouscourses at Under Graduate, Post Graduate,Pharmacy &amp; Engineering levels.  Thismilestone is achieved as the institutioncarved itself to impart quality and careeroriented education, countering thechallenges of the modern world throughplanning, dedication, determination,prompt execution and with the innovativeideas of our advisory board. <br>
                                      <br>
  Today, Sri Venkateswara University College of CM & CS isproud to have a strength of over 1600students with 15 institutions under itsambit.  It is the path of glory towardsthe success during the last 19 years.  Theinstitution has been adjudged many timesas the second best educationalinstitutions in the twin cities and 16thbest in all over India through theimpartial survey made by the renownedmagazine <span class="red"><b>"India Today"</b></span>.
   <br>
  <br>
  <span class="red"><b>Sri Venkateswara University College of CM & CS Tirupati, of Chittor (Dist)</b></span> was started in the year 1999 and offersvarious courses at Engineering and PGlevel.  The college is provide with rooms,computer center, laboratories and seminarhall with audio-visual equipments. Industry Institute interaction is conductedregularly to emphasize on the latesttrends in the present market.
  <br><br>
 
  <p>
  <table class="table table-responsive">
                            <tbody><tr>
                              <td class="border1" align="left" width="49%" valign="top"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody><tr>
                                  <td class="red-bold" height="25"><strong>Vision</strong></td>
                                </tr>
                                <tr>
                                  <td class="border2" valign="top"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tbody><tr>
                                      <td class="content"><p>To develop highly skilled professionals with ethics and human values.</p>
  <br><br>
  <br><br>
  <br>
  </td>
                                    </tr>
                                    <tr>
                                      <td align="center"><img src="../images/vision.jpg" class="img-responsive" alt=""></td>
                                    </tr>
                                  </tbody></table></td>
                                </tr>
                              </tbody></table></td>
                              <td align="left" width="2%" valign="top">&nbsp;</td>
                              <td class="border1" align="left" width="49%" valign="top"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody><tr>
                                  <td class="blue-bold" height="25"><strong>Mission</strong></td>
                                </tr>
                                <tr>
                                  <td class="border2" valign="top"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                      <tbody><tr>
                                        <td class="content" valign="top"><p>Sri Venkateswara University (commonly referred to as S. V. University or SVU) is a state university in Tirupati, Andhra Pradesh, India. It was founded in 1954 by chief minister Tanguturi Prakasam Pantulu. The first vice-chancellor was S Govindarajulu Naidu. The university is named after Lord Venkateswara whose shrine is located in the city. 
  <br>
  2. To produce competent and highly knowledgeable engineers with positive approach.
  <br>
  3. To self confidence among students which is an imperative pre requisite to face the challenges of life.</p>
                                          <br></td>
                                      </tr>
                                      <tr>
                                        <td align="center" valign="middle"><img src="../images/mission.jpg" class="img-responsive" alt=""></td>
                                      </tr>
                                  </tbody></table></td>
                                </tr>
                              </tbody></table></td>
                            </tr>
                          </tbody></table>
  
         
   <ol>
                            <li>To promote an integral and holistic growth of young and inquiring minds. To strengthen their confidence and competence to capably handle the emerging trends of their related fields. To empower them to face real life challenges. <br>
                              <br>
                            </li>
                            <li>To train them for employment and entrepreneurship.</li>
  
   

<!--     
		</section> -->

	<!-- Footer top -->
