<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div id="navbar-wrapper">
  <header>
      <nav class="navbar navbar-default navbar-fixed-top bg-dark" role="navigation">
          <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
             
           </div>
              <div id="navbar-collapse" class="collapse navbar-collapse">
                  <a class="navbar-brand" href="#">Svu college of CM & CS</a>
                  <ul class="nav navbar-nav navbar-right">
                     
                      <li class="dropdown">
                          <a id="user-profile" href="#" class="dropdown -toggle" data-toggle="dropdown"><img src="https://static.thenounproject.com/png/2769832-200.png" class="img-responsive img-thumbnail img-circle"> {{Username}}</a>
                          <ul class="dropdown-menu dropdown-block" role="menu">
                              <li><a href="#">Profil edition</a></li>
                              <li><a href="#">Admin</a></li>
                              <li><a (click)="logout()">Logout</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>
</div>

<div id="wrapper">
  <div id="sidebar-wrapper">
      <aside id="sidebar" >
          <ul id="sidemenu" class="sidebar-nav" style="margin-top: 20px;">
              <li>
                  <a href="#">
                      <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                      <span class="sidebar-title">Dashboard</span>
                      <b class="fa fa-caret-right" style="margin-left: 70px;"></b>
                  </a>
              </li>
              <li>
                  <a class="accordion-toggle toggle-switch" data-toggle="collapse" routerLink="/addpeople">
                      <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                      <span class="sidebar-title">Management</span>
                      <b class="caret"></b>
                  </a>
                  <!-- <ul id="submenu-2" class="panel-collapse collapse panel-switch bg-dark"  role="menu">
                      <li><a href="#"><i class="fa fa-caret-right"></i>Users</a></li>
                      <li><a href="#"><i class="fa fa-caret-right"></i>Roles</a></li>
                  </ul>
              </li> -->
              <li>
                  <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                      <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
                      <span class="sidebar-title">News</span>
                      <b class="caret"></b>
                  </a>
                  <!-- <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                      <li><a href="#"><i class="fa fa-caret-right"></i>Posts</a></li>
                      <li><a href="#"><i class="fa fa-caret-right"></i>Comments</a></li>
                  </ul> -->
              </li>
              <li>
                  <a href="#">
                      <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                      <span class="sidebar-title">View Data</span>
                      <b class="caret"></b>
                  </a>
              </li>
             
          </ul>
      </aside>            
  </div>
  <main id="page-content-wrapper" role="main">
  </main>
</div> 
<div class="container">
    
       <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <form class="well form-horizontal">
                      <fieldset>
                          <h4 style="margin-left:90px;">Add student</h4>
                          <div class="form-group">
                            <label class="col-md-4 control-label">S.no</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span><input id="fullName" name="fullname" [(ngModel)]="sno" placeholder="S.No" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Full Name</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span><input id="fullName" name="fullname" [(ngModel)]="fullname" placeholder="Full Name" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Department</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="fa fa-building"></i></span><input id="fullName" name="dept" [(ngModel)]="dept" placeholder="Department" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Registeration number</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span><input id="fullName" name="regnum" [(ngModel)]="regnum" placeholder="Registeration number" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         
                         <div class="form-group">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="email" name="email" [(ngModel)]="email" placeholder="Email" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Phone Number</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span><input id="phoneNumber" name="phone" [(ngModel)]="phone" placeholder="Phone Number" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Year</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="phoneNumber" name="phone" [(ngModel)]="year" placeholder="Year" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-4 inputGroupContainer">
                                <button type="submit"   class="btn btn-primary btn-block btn-raised" (click)="addstudent()">Submit </button>
             
                            </div>
                          </div>
                      </fieldset>

                   </form>
                </td>
               
             </tr>
          </tbody>
       </table>
    </div>