<div id="navbar-wrapper">
  <header>
      <nav class="navbar navbar-default navbar-fixed-top bg-dark" role="navigation">
          <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
             
           </div>
              <div id="navbar-collapse" class="collapse navbar-collapse">
                  <a class="navbar-brand" href="#">SVU college of CM & CS</a>
                  <ul class="nav navbar-nav navbar-right">
                     
                      <li class="dropdown">
                          <a id="user-profile" href="#" class="dropdown -toggle" data-toggle="dropdown"><img src="https://static.thenounproject.com/png/2769832-200.png" class="img-responsive img-thumbnail img-circle"> {{Username}}</a>
                          <ul class="dropdown-menu dropdown-block" role="menu">
                              <li><a href="#">Profil edition</a></li>
                              <li><a href="#">Admin</a></li>
                              <li><a (click)="logout()">Logout</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>
</div>
<div id="wrapper">
  <div id="sidebar-wrapper">
      <aside id="sidebar" >
          <ul id="sidemenu" class="sidebar-nav" style="margin-top: 20px;">
              <li>
                  <a routerLink="admindashboard">
                      <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                      <span class="sidebar-title">Dashboard</span>
                      <b class="caret" ></b>
                  </a>
              </li>
              <li>
                  <a class="accordion-toggle toggle-switch" data-toggle="collapse" href="#submenu-2">
                      <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                      <span class="sidebar-title">Management</span>
                      <b class="fa fa-caret-right" style="margin-left: 60px;"></b>
                  </a>
                  <!-- <ul id="submenu-2" class="panel-collapse collapse panel-switch bg-dark"  role="menu">
                      <li><a href="#"><i class="fa fa-caret-right"></i>Users</a></li>
                      <li><a href="#"><i class="fa fa-caret-right"></i>Roles</a></li>
                  </ul>
              </li> -->
              <li>
                  <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                      <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
                      <span class="sidebar-title">News</span>
                      <b class="caret"></b>
                  </a>
                  <!-- <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                      <li><a href="#"><i class="fa fa-caret-right"></i>Posts</a></li>
                      <li><a href="#"><i class="fa fa-caret-right"></i>Comments</a></li>
                  </ul> -->
              </li>
              <li>
                  <a href="#">
                      <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                      <span class="sidebar-title">View Data</span>
                      <b class="caret"></b>
                  </a>
              </li>
             
          </ul>
      </aside>            
  </div>
  <main id="page-content-wrapper" role="main">
  </main>
</div> 

<div class="row" style="margin-left: 140px;">
  <div class="card" style="width:25rem; margin-left:8%;height:40%">
  
      <img class="card-img-top"   style="width:100%;height:180px" src="https://www.ingeniux.com/images/Blog/Blog%20Front/web-cms-student-portal-blogfront.jpg" >
      <div class="card-body" >
          <h1 style="color: #333333;">Students</h1>
          <p>Here you can add new students</p>
        <a class="btn btn-primary" style="margin-left:60px" routerLink="/addstudent">Add a student</a>
      </div>
    </div>
  <div class="card" (click)="java()"  style="width: 25rem;height:30%;margin-left:5%" >
      <img class="card-img-top" style="width:100%;height:180px" src="https://www.himalayanuniversity.com/images/faculty.jpg" >
      <div class="card-body" >
          <h1 style="color: #333333;">
            Faculty
          </h1>
          <p>Here you can add faculty </p>
        <a class="btn btn-primary" style="margin-left:60px" routerLink="/addfaculty">Add a Faculty</a>
      </div>
    </div>