<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"><![endif]-->
	<meta name="description" content="">
	<meta name="author" content="iglyphic">
	<link rel="shortcut icon" href="src/assets/images/favicon.png">
	<title> SVU College of CM & CS</title>
	<link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
	<!-- Mobile Specific Meta
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="/src/assets/css/style.css">
	<link rel="stylesheet" href="/src/assets/css/responsive.css">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->


</head>

<body>


	<div class="boxed_wrapper">


		<!-- Start header top -->
		<header class="main-header">
			<div class="header-top">
				<div class="container">
					<!--Top Left-->
					<div class="top-left pull-left">
						<ul class="links-nav clearfix">
							<li><a href="#"></a></li>
						</ul>
					</div>

					<!--Top Right-->
					<div class="top-right pull-right">
						<ul class="links-nav clearfix">
							<li><a routerLink="students">Students</a></li>
							<li><a routerLink="events">Events</a></li>
							<li><a routerLink="alumni">Alumni</a></li>
							<li><a routerLink="contactus">Contact Us</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="header-upper">
				<div class="container">
					<div class="clearfix">

						<div class="pull-left logo-outer">
							<div class="logo">
								<a routerLink="/home"><img src="/src/assets/images/logo/logo.png" height="40%" width="20%" alt=""
										title="SVU"></a>
								<h1 style="margin-top: -90px;margin-left: 400px;">SVU College of CM & CS</h1>
								<h3 style="margin-top: 20px;margin-left: 450px;">Tirupati</h3>

							</div>
						</div>

						<div class=" clearfix">

						</div>

					</div>
				</div>
			</div>
		</header>
		<!-- End header top -->

		<!-- Start nav menu -->
		<section class="mainmenu-wrapper stricky">
			<div class="container">
				<nav class="mainmenu-holder pull-left">
					<div class="nav-header">
						<ul class="navigation">
							<li><a routerLink="/home">Home</a></li>
							<li class="dropdown">
								<a routerLink="#">About Us</a>
								<ul class="submenu">
									<li><a routerLink="/college">The College</a></li>
									<li><a routerLink="/principal">From Principal's Desk</a></li>

								</ul>
							</li>
							<li class="dropdown">
								<a href="#">Departments</a>
								<ul class="submenu" style="width:300px">
									<li><a routerLink="/mca">Master of Computer Applications</a></li>
									<li ><a routerLink="/mba">Master of Business Administration</a></li>
									<li><a routerLink="/msc">Master of Science</a></li>
									<li><a routerLink="/mcom">Master of Commerce</a></li>
								</ul>
							</li>
							<li><a  routerLink="research">Research</a></li>
							<li><a routerLink="facilities">Facilities</a></li>
							<li class="dropdown">
								<a href="#">Placements</a>
								<!-- <ul class="submenu">
									<li><a href="placements/index.html">Overview</a></li>
									<li><a href="placements/companies-visited.html">Companies Visited</a></li>
									<li><a href="placements/Placements-2019-20.html">Placements</a></li>
									<li><a href="placements/current-placements.html">Current Placements</a></li>

								</ul>
							</li> -->
							<li class="dropdown">
								<a routerLink="#">Exams</a>
								<!-- <ul class="submenu">
									<li><a href="exams/ayllabus-regulations.html">Syllabus &amp; Regulations</a></li>
									<li><a href="exams/academic-calendar.html">Academic Calendar</a></li>
									<li><a href="exams/results.html">Results</a></li>
									<li><a href="exams/exam-schedule.html">Exam Schedule (Final Exams)</a></li>
									<li><a href="exams/exams-schedule1.html">Exam Schedule (Quiz & Mid Exams)</a></li>
									<li><a href="exams/previous-exam-papers.html">Previous Exam Papers</a></li>

								</ul> -->
							</li>
							<li><a routerLink="curricular">Co-Curricular</a></li>

						</ul>
					</div>
					<div class="nav-footer hidden-lg">
						<ul>
							<li><button class="menu-expander"><i class="fa fa-list-ul"></i></button></li>
						</ul>
					</div>
				</nav>
				<div class="get-appt pull-right">
					<a routerLink="/login" class="appt-btn theme-btn">Login</a>
				</div>

			</div>
    </section>
    <div class="wrapper fadeInDown">
        <div id="formContent">
      
          <div class="fadeIn first">
            <img src="/src/assets/images/registration.png" style="margin-left: 150px;" id="icon"  alt="User Icon" />
          </div>
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="name" placeholder="username">
            
            <input type="text" id="login" class="fadeIn second" name="login"[(ngModel)]="email" placeholder="email">
            <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="mobile" placeholder="mobile number">
            <input type="password" id="password" class="fadeIn third" name="login" [(ngModel)]="password" placeholder="password">
            <input type="password" id="password" class="fadeIn third" name="login" [(ngModel)]="passwordConf" placeholder="Repeat password">
            <button (click)="register()" class="btn btn-primary">Create</button>
          </form>
          <div id="formFooter">
            Already have an account? <a class="underlineHover" routerLink="/login">Click here</a>
          </div>
      
        </div>
      </div>